<?xml version="1.0"?>

<model>
  <name>microfred</name>
  <version>1.0</version>
  <sdf version="1.5">microfred.sdf</sdf>

  <author>
    <name>Jovan Lukic</name>
    <email>jovanlukic792@gmail.com</email>
  </author>

  <maintainer email="jovanlukic792@gmail.com">Jovan Lukic</maintainer>

  <description>
    A simple example
  </description>
</model>