<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Include macros for dynamics plugins -->
  <xacro:include filename="$(find microfred_world)/urdf/macro.xacro" />

    <!-- Defines the base vehicle -->
   <xacro:include filename="$(find microfred_world)/urdf/microfred_URDF_test.urdf" />

    <!-- Attach hydrodynamics plugin -->
   <xacro:usv_dynamics_gazebo name="wamv_dynamics_plugin"/>
  
</robot>