<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="microfred_world">




<!--Took away ixx=60-->>
  <link
    name="chassis">
    <inertial>
      <origin
        xyz="0.00025032 0.0064565 0.036633"
        rpy="0 0 0" />
      <mass
        value=".5" />
      <inertia
        ixx="1000000.0"
        ixy="0.0"
        ixz="0.0"
        iyy="1000000.0"
        iyz="0.0"
        izz="1000000.0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://microfred_URDF_10/meshes/chassis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://microfred_URDF_10/meshes/chassis.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_motor">
    <inertial>
      <origin
        xyz="1.3878E-17 3.6028E-06 -4.0126E-05"
        rpy="0 0 0" />
      <mass
        value="0.0064969" />
      <inertia
        ixx="1.0"
        ixy="0.0"
        ixz="0.0"
        iyy="1.0"
        iyz="0.0"
        izz="1.0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://microfred_URDF_10/meshes/left_motor.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://microfred_URDF_10/meshes/left_motor.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_motor_joint"
    type="fixed">
    <origin
      xyz="-0.098718 -0.079178 0.069748"
      rpy="1.2217 0 3.1416" />
    <parent
      link="chassis" />
    <child
      link="left_motor" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_prop">
    <inertial>
      <origin
        xyz="-2.6043E-09 1.4741E-09 -0.053213"
        rpy="0 0 0" />
      <mass
        value="0.0022027" />
      <inertia
        ixx="1.0"
        ixy="0.0"
        ixz="0.0"
        iyy="1.0"
        iyz="0.0"
        izz="1.0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://microfred_URDF_10/meshes/left_prop.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://microfred_URDF_10/meshes/left_prop.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_prop_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.0051837"
      rpy="0 0 1.5952" />
    <parent
      link="left_motor" />
    <child
      link="left_prop" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="840" />
  </joint>
  <link
    name="right_motor">
    <inertial>
      <origin
        xyz="0 3.6028E-06 -4.0126E-05"
        rpy="0 0 0" />
      <mass
        value="0.0064969" />
      <inertia
        ixx="1.0"
        ixy="0.0"
        ixz="0.0"
        iyy="1.0"
        iyz="0.0"
        izz="1.0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://microfred_URDF_10/meshes/right_motor.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://microfred_URDF_10/meshes/right_motor.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_motor_joint"
    type="fixed">
    <origin
      xyz="0.098718 -0.079178 0.069748"
      rpy="1.2217 0 3.1416" />
    <parent
      link="chassis" />
    <child
      link="right_motor" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_prop">
    <inertial>
      <origin
        xyz="2.4847E-09 2.0796E-09 -0.053213"
        rpy="0 0 0" />
      <mass
        value="0.0" />
      <inertia
        ixx="1.0"
        ixy="0.0"
        ixz="0.0"
        iyy="1.0"
        iyz="0.0"
        izz="1.0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://microfred_URDF_10/meshes/right_prop.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://microfred_URDF_10/meshes/right_prop.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_prop_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.0051837"
      rpy="0 0 -1.5952" />
    <parent
      link="right_motor" />
    <child
      link="right_prop" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="840" />
  </joint>




   <gazebo>
    <plugin name="freebuoyancy_gazebo" filename="libfreebuoyancy_gazebo.so">
      <descriptionParam>robot_description</descriptionParam>
      <fluidTopic>current</fluidTopic>
      <alwaysOn>true</alwaysOn>
      <surface>0 0 0</surface>
      <updateRate>.001</updateRate>

      <link name='chassis'>
        <buoyancy>
          <compensation>4.00</compensation>
          <origin xyz= "0 0 0"/>
        </buoyancy>
      </link>
    </plugin>
   </gazebo>

</robot>