<launch>
  <arg name="model_name" default="microfred_platform" />
  <arg name="uuv_name" default="$(arg model_name)"/>



  <include file="$(find microfred_platform_control)/launch/start_thruster_manager.launch">
    <arg name="uuv_name" value="$(arg uuv_name)" />
    <arg name="model_name" value="$(arg model_name)" />
  </include>

  <group ns="$(arg uuv_name)">
      <node pkg="uuv_control_utils"
            type="trajectory_marker_publisher.py"
            name="trajectory_marker_publisher"
            output="screen">
          <remap from="trajectory" to="/microfred_position_control/cmd_vel/trajectory"/>
          <remap from="waypoints" to="/microfred_position_control/cmd_vel/waypoints"/>
      </node>

      <node pkg="uuv_control_cascaded_pid"
          type="PositionControl.py"
          name="position_control"
          output="screen">
          <remap from="odom" to="/$(arg uuv_name)/pose_gt"/>
          <remap from="trajectory" to="/microfred_position_control/cmd_vel/trajectory"/>
          <remap from="input_trajectory" to="/microfred_position_control/cmd_vel/input_trajectory"/>
          <remap from="waypoints" to="/microfred_position_control/cmd_vel/waypoints"/>
          <remap from="/microfred_position_control/cmd_vel" to="/microfred_platform/thruster_allocator"/>
      </node>


  </group>
</launch>

